<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<footer>

 <!------footer start--------->
 <footer>
  <p>SHAPE</p>
  <p><b/>Having trouble with the site?<br /><br />CONTACT US:<br />shapeTechnicalTeam@gmail.com<br /></p>
  <div class="button">
    <a href="#"><i class="btn1">Q&amp;A</i></a>
    <a href="#"><i class="btn2">About</i></a>
    <a href="#"><i class="btn3">Cond&amp;Terms</i></a>
  </div>
  <p class="end" style="margin-left: 750px;"> Shape © 2022&nbsp; &nbsp
    <!-- <span>made with -->
    <!-- <i class="fa-solid fa-heart"></i></span>-->
      <span>by group 2 </span>  
  </p>
</footer> 