<title>Appointment Management System</title>
<meta charset="utf-8" />
<link rel="stylesheet" href="/css/style.css" type="text/css" />
<link rel="icon" href="/assets/Appointment_icon.png" type="image/png" />
<meta
  name="viewport"
  content="width=device-width,user-scalable=yes, initial-scale=1"
/>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
