*
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.login-page
{
    height: 100%;
	width: 100%;
	background-image: linear-gradient(rgba(0,0,0,0.13),rgba(0,0,0,0.13)),url(login.jpg);
	background-position: center;
	background-size: cover;
	position: absolute;
}

.form-box h1{
	color: #F3C693;
    font-size: 50px;
    text-transform: capitalize;
    margin-bottom: 50px;
	padding: 13px 95px;
	background:none;
}

.form-box
{
    width:380px;
	height:480px;
	position:relative;
	margin:2% auto;
	background:rgba(0, 0, 0, 0.103);
    
	padding:10px;
    overflow: hidden;
}




.input-group-login
{
	top: 120px;
	position:absolute;
	width:280px;
	transition:.5s;
	
}

::-webkit-input-placeholder {
	/* Chrome/Opera/Safari */
	font-weight: bold;
	color: black;
  }

.input-field
{
	width: 100%;
	padding:10px 0;
	margin:5px 0;
	border-left:0;
	border-top:0;
	border-right:0;
	border-bottom: 1px solid #F3C693;
	outline:none;
	background: transparent;
}
   
  input[type = email]:focus {
	box-shadow: 0 0 5px #F3C693;
	padding: 6px 0px 6px 6px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #F3C693;
  }
  input[type = password]:focus {
	box-shadow: 0 0 5px #F3C693;
	padding: 6px 0px 6px 6px;
	margin: 5px 1px 3px 0px;
	border: 1px solid #F3C693;
  }

.submit-btn
{
	width: 85%;
	padding: 10px 30px;
	cursor: pointer;
	display: block;
	margin: auto;
	background: #F3C693;
	border: 0;
	outline: none;
	border-radius: 30px;
}
.check-box
{
	margin: 50px 10px 34px 0;
}
span
{
	color:#777;
	font-size:12px;
	bottom:68px;
	position:absolute;
}

.Remember{
    text-decoration: none;
    color: rgb(248, 245, 246);
    font-size: 15px;
}
#login
{
	left:50px;
}
#login input
{
	color:white;
	font-size:15;
}

button:hover{
    background: transparent;
    border: 2px solid #F3C693;
    cursor: pointer;

}




