<!DOCTYPE html>
<html lang="en">
<head>    
    <meta charset="UTF-8">
    <title>About Us</title>
    <link rel="stylesheet" href="/css/style_about.css">
    
</head>
<body>
    <section class="about">
        <div class="main">
            <img src="about.jpg">
            <div class="about-text">
                <h1>About Us</h1>
                <h5>Developers<span> & Designer</span></h5>
                <p>
                    Hello!
                    Our site is a system for managing appointments and meetings, the system is intended for coaches and trainees.
                    The purpose of the site is to help you manage the training and meetings in your diary.
                    Our site allows you to schedule workouts and appointments, manage your diary and edit it, contact coaches / trainers, perform a search as you wish, receive alerts about scheduled workouts and appointments and more.
                    <br><br>          
                    <p1>About Us..</p1><br>
                    We are a team of 4 software engineering students, as part of the degree we built this site to provide a convenient service for trainees and coaches who can enjoy managing their diary in an easy to operate and beautiful way to view.
                </p>
                <button type="button">Close</button>
            </div>
        </div>
    </section>

 
</body>
</html>