<!DOCTYPE html>
<html>
  <title>Business profile</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Roboto"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <link rel="stylesheet" href="/css/editBusinessP.css" />
  <style></style>
  
  <body class="w3-light-grey">
    <!-- Page Container -->
    <div class="w3-content w3-margin-top" style="max-width: 1500px">
      <!-- The Grid -->
      <div class="w3-row-padding">
        <!-- Left Column -->
        <div class="w3-third">
          <div class="w3-white w3-text-grey w3-card-4">
            <div class="container">
              <h2 id="name">Bar Fitness</h2>
            </div>
            <div class="w3-container">
              <p>
                <i
                  class="fa fa-user-o fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Bar sela
              </p>
              <p>
                <i
                  class="fa fa-certificate fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >athletic
              </p>
              <p>
                <i
                  class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Rehovot
              </p>
              <p>
                <i
                  class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >052-6761996
              </p>
              <p>
                <i
                  class="fa fa-envelope-o fa-fw w3-margin-right w3-large w3-text-teal"
                ></i
                >Barsela03@gmail.com
              </p>
              <hr />

              <p class="w3-large">
                <b
                  ><i
                    class="fa fa-calendar-check-o fa-fw w3-margin-right w3-text-teal"
                  ></i
                  >Schedule</b
                >
              </p>
              <div class="w3-white">
                <button class="w3-button w3-teal w3-round-xlarge" id="schedule-bt"> Schedule</button>
              </div>

              <br />
              <hr />
              <p class="w3-large w3-text-theme">
                <b
                  ><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i
                  >Languages</b
                >
              </p>
              <p id="hebrew">Hebrew</p>
              <div class="w3-light-grey w3-round-xlarge" id="hebrew">
                <div
                  class="w3-round-xlarge w3-teal" id="hebrew-w"
                ></div>
              </div>
              <p id="english">English</p>
              <div class="w3-light-grey w3-round-xlarge" id="english">
                <div
                  class="w3-round-xlarge w3-teal" id="english-w"
                ></div>
              </div>
              <p id="russian">Russian</p>
              <div class="w3-light-grey w3-round-xlarge" id="russian">
                <div
                  class="w3-round-xlarge w3-teal" id="russian-w"
                ></div>
              </div>
              <p id="spanish">Spanish</p>
              <div class="w3-light-grey w3-round-xlarge" id="spanish">
                <div
                  class="w3-round-xlarge w3-teal" id="spanish-w"
                ></div>
              </div>
              <p id="arabic">Arabic</p>
              <div class="w3-light-grey w3-round-xlarge" id="arabic">
                <div
                  class="w3-round-xlarge w3-teal" id="arabic-w"
                ></div>
              </div>
              <br />
              <hr />

              <p class="w3-large">
                <b
                  ><i
                    class="fa fa-pencil fa-fw w3-margin-right w3-text-teal"
                  ></i
                  >Settings</b
                >
              </p>
              <div class="w3-white w3-row-padding" id="Settings">
                <button class="w3-button w3-teal w3-round-xlarge" id="edit-profile-bt"> Edit profile</button>
                <button class="w3-button w3-teal w3-round-xlarge" id="delete-acc-bt"> Delete account</button>
                <button class="w3-button w3-teal w3-round-xlarge" id="edit-training-bt"> Edit training types</button>
              </div>

              <br />
            </div>
          </div>
          <br />

          <!-- End Left Column -->
        </div>

        <!-- Right Column -->
        <div class="w3-twothird" id="right-edit">
          <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16">
              
            </h2>
            <div class="w3-container">
              <div class="w3-card-4">
                <div class="w3-container w3-teal">
                  <h2>Edit Business profile</h2>
                </div>
                <form class="w3-container" action="/EditBusinessP"
                method="POST"
                onsubmit="return validateEditProfileBusiness()">
                  <label class="w3-text-grey" id="general"><b>General</b></label>
                  <p>      
                  <label class="w3-text-teal" id="businassName"><b>Business Name</b></label>
                  <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="businassName-Input" name="BusinessName" type="text" required></p>
                  <p>      
                  <label class="w3-text-teal"><b>Full Name</b></label>
                  <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="fullName-Input" name="fullName" type="text" required>
                  <label id="errorMsg-fn" style="font-size: 14px; color: red" ><b>Full name must contain only letters </br></label>      
                    <label class="w3-text-teal" ><b>Specialty</br></label>
                      <select class="w3-input w3-border w3-light-grey w3-round-xlarge" id="specialty-Input" name="specialty">
                        <option value="personal">Personal Trainer</option>
                        <option value="athletics">Athletics</option>
                        <option value="gymnastics">Gymnastics</option>
                        <option value="aerobic">Aerobic</option>
                        <option value="gym">Gym</option>
                        <option value="cross-fit">Cross-fit</option>
                        <option value="mental-wellness">Mental-wellness</option>
                        <option value="feldenkrais">Feldenkrais</option>
                        
                        
                      </select>     
                      <label class="w3-text-teal"><b>City</br></label>
                      <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="city-Input" name="City" type="text" required>  
                      <label id="errorMsg-ci" style="font-size: 14px; color: red" ><b>city must contain only letters </br></label> 
                      <label class="w3-text-teal"><b>Phone</br></label>
                      <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="phone-Input" name="Phone" type="text" required>                        
                      <label id="errorMsg-fh" style="font-size: 14px; color: red" ><b>phone number nust 10 digits, With a legal Israeli prefix </br></label>      
                      <label class="w3-text-teal"><b>Email</br></label>
                      <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="email-Input" name="Email" type="text" required >      
                      <label id="errorMsg-e" style="font-size: 14px; color: red" ><b>Invalid email </br></label>
                      <label class="w3-text-teal"><b>About Section (Description)</br></label>
                      <span class="w3-input w3-border w3-light-grey w3-round-xlarge" role="textbox"  id="about-Input" name="Description" type="text" required contenteditable></p>

                      <hr />
                      <label class="w3-text-grey" id="languages"><b>Languages</b></label>
                      <label class="w3-text-grey"><br>Select the level of language proficiency</br></label>
                      <!-- language section -->
                        <div class="form-element">
                          <label class="w3-text-teal" style="margin-right: 3px;"><b>Hebrew</br></label>
                          <input class="slider" id="hebrew-edit" type="range" min="0" max="100" step="10" value="0" >
                          <label class="w3-text-grey" id="hebp">0</label>
                          <label class="w3-text-grey" id="present">%</label>
                          <b></br>
                          <label class="w3-text-teal" style="margin-right: 6px;"><b>English</br></label>
                          <input class="slider" id="english-edit" type="range" min="0" max="100" step="10" value="0" >
                          <label class="w3-text-grey" id="enbp">0</label>
                          <label class="w3-text-grey" id="present">%</label>
                          <b></br>
                          <label class="w3-text-teal"><b>Russian</br></label>
                          <input class="slider" id="russian-edit" type="range" min="0" max="100" step="10" value="0">
                          <label class="w3-text-grey" id="rubp">0</label>
                          <label class="w3-text-grey" id="present">%</label>
                          <b></br>
                          <label class="w3-text-teal"><b>Spanish</br></label>
                          <input class="slider" id="spanish-edit" type="range" min="0" max="100" step="10" value="0">
                          <label class="w3-text-grey" id="spbp">0</label>
                          <label class="w3-text-grey" id="present">%</label>
                          <b></br>
                          <label class="w3-text-teal" style="margin-right: 13px;"><b>Arabic</br></label>
                          <input class="slider" id="arabic-edit" type="range" min="0" max="100" step="10" value="0">
                          <label class="w3-text-grey" id="arbp">0</label>
                          <label class="w3-text-grey" id="present">%</label>
                        </div>
                                <label id="errorMsg-l" style="font-size: 14px; color: red" ><b>Choose at least one language you speak </br></label>

                                <hr />
                                <!-- >Certification section -->
                                <label class="w3-text-grey" id="certification"><b>Certification</b></label>
                              <label class="w3-text-grey"><br>Please fill in where you were certified as a Trainer and when, </br></label>
                              <label class="w3-text-teal"><b>Shcool Name</b></label>
                              <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="schoolName-Input" name="schoolName" type="text" required></p>
                              <label id="errorMsg-sn" style="font-size: 14px; color: red" ><b>The school name where you have been certified must contain only letters  </br></label>
                              <label class="w3-text-teal"><b>Year</b></label>
                              <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="cert-date-Input" name="year" type="date" required></p>
                              <label class="w3-text-teal"><b>Certification info</b></label>
                              <label class="w3-text-grey"><br>Please describe the training that  you were certified </br></label>                              
                              <input class="w3-input w3-border w3-light-grey w3-round-xlarge" id="cert-info-Input" name="info" type="text" required></p>
                              
                    <p>
                      <button class="w3-btn w3-teal w3-round-xlarge" type="submit" id="savebt" >Save Changes</button></p>
                    </form>
              </div>
            <br />
          </div>

          

          <!-- End Right Column -->
        </div>

        <!-- End Grid -->
      </div>

      <!-- End Page Container -->
    </div>
    <script>
      //attrs temp
      var businassName=document.getElementById('businassName-Input').value="Bar Fitness";
      var fullName=document.getElementById('fullName-Input').value="Bar Sela";
      var specialty=document.getElementById('specialty-Input').value="athletic";
      var city=document.getElementById('city-Input').value="Rehovot";
      var phone=document.getElementById('phone-Input').value="052-6761996";
      var email=document.getElementById('email-Input').value="Barsela03@gmail.com";

      //languges
      var hebrewEdit=document.getElementById('hebrew-edit');
      var englishEdit=document.getElementById('english-edit');
      var spanishEdit=document.getElementById('spanish-edit');
      var russianEdit=document.getElementById('russian-edit');
      var arabicEdit=document.getElementById('arabic-edit');

      //show % according to what is selected in the range input
      hebrewEdit.addEventListener("click", function() {
        document.getElementById('hebp').innerHTML=hebrewEdit.value; });

      englishEdit.addEventListener("click", function() {
        document.getElementById('enbp').innerHTML=englishEdit.value; });

      russianEdit.addEventListener("click", function() {
        document.getElementById('rubp').innerHTML=russianEdit.value; });

      spanishEdit.addEventListener("click", function() {
        document.getElementById('spbp').innerHTML=spanishEdit.value; });

      arabicEdit.addEventListener("click", function() {
        document.getElementById('arbp').innerHTML=arabicEdit.value; });

      function ValidateEmail(email) {
        return /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email);
      }
      function onlyLetters(str) {
        return /^[a-zA-Z]+$/.test(str);
      }
      function validPhone(phone){
        if(phone.charAt(0)==0 & phone.charAt(5)==0 && phone.length==10)
        {
          return true;
        }
        return false;
      }

      function validateEditProfileBusiness()
      {
        var fullName=document.getElementById("fullName-Input").value;
        var city=document.getElementById("city-Input").value;
        var phone=document.getElementById("phone-Input").value;
        var email=document.getElementById("email-Input").value;
        

        var hebrew=document.getElementById('hebrew-edit').value;
        var english=document.getElementById('english-edit').value;
        var spanish=document.getElementById('spanish-edit').value;
        var russian=document.getElementById('russian-edit').value;
        var arabic=document.getElementById('arabic-edit').value;

        var schoolName=document.getElementById("schoolName-Input").value;
        
        if(!onlyLetters(fullName))
        {
          document.getElementById("errorMsg-fn").style.display="block";
          return false;
        }
        if(!onlyLetters(city))
        {
          document.getElementById("errorMsg-ci").style.display="block";
          return false;
        }
        if(!validPhone(phone))
        {
          document.getElementById("errorMsg-ph").style.display="block";
          return false;
        }
        if(hebrew==0 && english==0 && russian==0 && spanish==0 && arabic==0)
        {
          document.getElementById("errorMsg-l").style.display="block";
          return false;
        }
        if(!onlyLetters(schoolName))
        {
          document.getElementById("errorMsg-sn").style.display="block";
          return false;
        }
        if(!ValidateEmail(email))
        {
          document.getElementById("errorMsg-e").style.display="block";
          return false;
        }
        
        return true;
      
      }
    </script>
  </body>
</html>
