<html>
  <html>
    <head>
      <%- include('../partials/head'); %>
    </head>
    <header><%- include('../partials/header') %></header>
    <body>

        <div class="login-wrapper">     
            <h2>Login</h2>
            <label id="logErrorMsg" style="font-size: 16px; color: red; text-align: center;" hidden></label> 
            <form class="login" action="/log" method="POST">
                <div class="txt_field">
                    <input type="email" name="email" required>
                    <span></span>
                    <label>Email</label>
                </div>
                <div class="txt_field">
                    <input type="password" name="password" required>
                    <span></span>
                    <label>Password</label>
                </div>
                <div class="forgot-password">Forgot Password?</div>
                    <input type="submit" value="Login">
                    <div class="signup-link">
                    Not a member? <a href="/signUp">Signup</a>
                </div>
            </form>
        </div>
            <script>
                var logStatus = true;
                var logErrorMsg =document.getElementById("logErrorMsg");
                logErrorMsg.style.display = 'none';
                
                if ("<%= loginStatus %>" == 'false'){
                        
                        logErrorMsg.innerHTML = "The email or password is incorrect";
                        logErrorMsg.style.display='block';
                        logStatus=false;
                    }  
            </script>
    </body>
  </html>
</html>
