<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head'); %>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flexbox - Login Screen</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/NewSchedule.css" type="text/css" />
  </head>
  <body>
    <div class="container">
      <div id="app">
        <h2>Schedule New Training</h2>

        <form id="form" method="POST">
          <select id="Type" name="Training Type">
            <option value="50">Yoga</option>
            <option value="40">Zumba</option>
            <option value="30">kick-box</option>
          </select>
          <input
            id="start_time"
            type="datetime-local"
            placeholder="Strat time"
            required
          />

          <label id="Duration"><a>Duration: </a></label>
          <label id="Price"><a>Price: </a></label>

          <input id="Save" type="submit" value="Save" />
        </form>
      </div>
    </div>
    <script>
      function validateTrainingForm(){
        var trainingType = document.getElementById("Type");
        var duration = document.getElementById("Duration");
        var price = document.getElementById("Price");
        var time = document.getElementById("start_time");
      }
      
      duration.innerHTML += options[0];
     
      activities.addEventListener("click", function () {
        var options = activities.querySelectorAll("option");
        var count = options.length;
        if (typeof count === "undefined" || count < 2) {
          addActivityItem();
        }
      });

      activities.addEventListener("change", function () {
        if (activities.value == "addNew") {
          addActivityItem();
        }
      });

      function addActivityItem() {}
    </script>
  </body>
</html>
