<!DOCTYPE html>
<html>
  <head>
    <title>Parcel Sandbox</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/css/QNA.css" />
    <link rel="stylesheet" href="/css/footer.css" />
  </head>

  <body>
    <section class="section" id="first-sec">
      <div class="title">
        <h1>Q & A</h1>
        <h4>top 6 questions and answers on the site may be helpful!</h4>
      </div>

      <div class="QNA-center section-center" id="qna-center">
        <article class="trainer-img">
          <img src="/assets/Q&A.jpg" alt="" />
        </article>
        <article class="QNA">
          <div class="btn-container">
            <button class="tab-btn active" data-id="Trainee">Trainee</button>
            <button class="tab-btn" data-id="Trainer">Trainer</button>
            <button class="tab-btn" data-id="Navigation">Navigation</button>
          </div>
          <div class="QNA-content">
            <!-- single item -->
            <div class="content active" id="Trainee">
              <h4>Trainee</h4>
              <p>
                I'm baby wolf pickled schlitz try-hard normcore marfa man bun
                mumblecore vice pop-up XOXO lomo kombucha glossier bicycle
                rights. Umami kinfolk salvia jean shorts offal venmo. Knausgaard
                tilde try-hard, woke fixie banjo man bun. Small batch tumeric
                mustache tbh wayfarers 8-bit shaman chartreuse tacos. Viral
                direct trade hoodie ugh chambray, craft beer pork belly flannel
                tacos single-origin coffee art party migas plaid pop-up.
              </p>
            </div>
            <!-- end of single item -->
            <!-- single item -->
            <div class="content" id="Trainer">
              <h4>Trainer</h4>
              <ul>
                <li id="q">question 1:</li>
                <li>answer</li>
                <li id="q">question 2:</li>
                <li>answer</li>
                <li id="q">question 3:</li>
                <li>answer</li>
              </ul>
            </div>
            <!-- end of single item -->
            <!-- single item -->
            <div class="content" id="Navigation">
              <h4>Navigation</h4>
              <p>
                Chambray authentic truffaut, kickstarter brunch taxidermy vape
                heirloom four dollar toast raclette shoreditch church-key.
                Poutine etsy tote bag, cred fingerstache leggings cornhole
                everyday carry blog gastropub. Brunch biodiesel sartorial mlkshk
                swag, mixtape hashtag marfa readymade direct trade man braid
                cold-pressed roof party. Small batch adaptogen coloring book
                heirloom. Letterpress food truck hammock literally hell of wolf
                beard adaptogen everyday carry. Dreamcatcher pitchfork yuccie,
                banh mi salvia venmo photo booth quinoa chicharrones.
              </p>
            </div>
            <!-- end of single item -->
          </div>
        </article>
      </div>
    </section>

    <script src="/js/QNA.js"></script>
    <footer
      class="footer-basic" id="footer"
      "
    >
      <ul
        class="list-inline" id="ul-footer"
      >
        <li
          class="list-inline-item" id="li-footer"
        >
          <a
            href="#"
            id="a-footer"
            >Q&amp;A</a
          >
        </li>
        <li
          class="list-inline-item" id="li-footer"
        >
          <a
            href="#"
            id="a-footer"
            >About</a
          >
        </li>
        <li
          class="list-inline-item" id="li-footer"
        >
          <a
            href="#"
            id="a-footer"
            >Conditions&amp;Terms</a
          >
        </li>
      </ul>
      <h2
        class="fw-bold"
        id="h2-footer"
      >
        <br />having trouble with the site?<br /><br />CONTACT US:<br />shapeTechnicalTeam@gmail.com<br />
      </h2>
      <p
        class="text-end copyright"
        id="p-footer"
      >
        Shape © 2022&nbsp; &nbsp;
      </p>
    </footer>
  </body>
</html>
