<!DOCTYPE html>
<html>
  
    <head>
      <link href='/about.css' rel='stylesheet' />
      <%- include('../partials/head'); %>
    </head>
    <header><%- include('../partials/header') %></header>
    <body>
     
    </body>

</html>
