<!DOCTYPE html>
<html>
  <html>
    <head>
      <%- include('../partials/head'); %>
    </head>
    <header><%- include('../partials/header') %></header>
    <body>
      <div class="=content">
        <label id="name" style="font-size: 20px;">Hey, Guest</label>
        <p1>Wellcome To Our Site</p1>
      </div>
    </body>
  </html>
</html>
